svg line {
  stroke: steelblue;
  stroke-width: 1px;
}

svg {
  border: 1px solid lightgray;
}

.midnight {
  stroke: red;
}

.push {
  stroke: orange;
}

.container {
  width: 960px;
  margin: 0 auto;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}
